<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
</head>
<body>
    <h1><%=room.title%></h1>
    <a href='/' id='exit-btn'>방나가기</a>
    <fieldset id='chat-list'>
        <legend>채팅내용</legend>
        <% for(let i=0; i<chats.length; i++) { %>
            <% if(chats[i].user ===  user) { %>
                <div class='mine' style="color: '<%= chats[i].user %>'">
                    <div><%= chats[i].user %></div>
                    <div><%= chats[i].chat %></div>
                </div>
            <% } else if(chats[i].user === 'system') { %>
                <div class='system'><%= chats[i].chat %></div>
            <% } else {%>
                <div class='other' style="color: '<%= chats[i].user %>'">
                    <div><%= chats[i].user %></div>
                    <div><%= chats[i].chat %></div>
                </div>
            <% } %>
        <% } %> 
    </fieldset>
    <input id='user' value='<%=user%>' hidden/>
    <form id='chat-form'>
        <input name='chat'/>
        <input name='roomId' value='<%=room.id%>' hidden/>
        <button type='submit'>전송</button>
    </form>
    <script src='/socket.io/socket.io.js'></script>
    <script src='../js/chat.js'></script>
</body>
</html>