<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
</head>
<body>
    <h1>채팅방</h1>
    <fieldset>
        <legend>채팅방 목록</legend>
        <table>
            <thead>
                <tr>
                    <th>방 제목</th>
                    <th>종류</t></th>
                    <th>허용 인원</th>
                    <th>방장</th>
                </tr>
                <tbody>
                    <% for(let i=0; i<rooms.length; i++) { %>
                        <tr data-id='<%=rooms[i].id%>'>
                            <td>
                                <%=rooms[i].title%>
                            </td>
                            <td>
                                <% if(rooms[i].password) { %>
                                    비밀방
                                <% } else { %>
                                    공개방
                                <% } %>
                            </td>
                            <td>
                                <%=rooms[i].max%>
                            </td>
                            <td>
                                <%=rooms[i].owner%>
                            </td>
                            <td>
                                <% if(rooms[i].password) { %>
                                    <button id='enter' data-password='true' data-id='<%=rooms[i].id%>'>
                                        입장
                                    </button>
                                <% } else { %>
                                    <button id='enter' data-password='false' data-id='<%=rooms[i].id%>'>
                                        입장
                                    </button>
                                <% } %>
                                
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </thead>
        </table>
    </fieldset>
    <a href='/room'>채팅방 생성</a>
    <script src='/socket.io/socket.io.js'></script>
    <script src='../js/main.js'></script>
</body>
</html>